.nav {
    background-color: lightgray;
    padding: 20px;
}

/* .active {
    color: orange;
} */

body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

section {
    position: relative;
    left: 0;
    top: 40px;
    padding: 30px;
    width: 600px;
    background-color: white;
    color: darkgray;
}

h1 {
    color: orange;
}

.seperator {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: lightgray;
    height: 3px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    color: white;
}
