header {
    padding: 20px;
    background-color: lightgray;
}

.logo {
    position: fixed;
    top: 0;
    left: 8.33%;
    float: left;
    padding: 12px;
    background-color: orange;
    color: white;
}

/* .active {
    color: orange;
} */

body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    color: darkgray;
}

.container {
    margin-left: 0;
}

h2 {
    color: orange;
}

.separator {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: lightgray;
    height: 3px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid orange;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    color: white;
}
