header {
    background-color: lightgray;
}

.logo {
    margin-left: 50px;
    float: left;
    width: fit-content;
    padding: 12px;
    background-color: orange;
    color: white;
}

.nav {
    padding: 20px;
}

body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

/* 'card' object used on index page */
section {
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    color: darkgray;
}

/* 'card' object used on portfolio page */
.section {
    margin: 50px;
    padding: 30px;
    width: 600px;
    background-color: white;
    color: darkgray;
}

.container {
    margin-left: 0;
    padding: 0;
}

h2 {
    color: orange;
}

.separator {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: lightgray;
    height: 3px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid orange;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    color: white;
}
